body {
    background-color: #f4a3d1; 
    color: #333; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

button {
    background-color: #72c6ea;
    border: none; 
    color: #ffffff; 
    padding: 10px 20px;
    text-align: center; 
    font-size: 16px; 
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

button:hover {
    background-color: #45a049; 
}

#top {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #87b4f4; 
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#topic, #reply1, #reply2 {
    background-color: #f9f9f9; 
    padding: 20px; 
    margin: 0px 0px; 
    border-radius: 5px; 
    margin-left: 10px;
    margin-right: 10px;
}

#message {
    height: 100px;
    width: 550px;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
}

hr {
    border: 0;
    border-top: 1px solid #df0b79;
    margin: 10px 0;
}
